<html>
    <head>
        <link rel="stylesheet" href="attr.css">
        <h1><center>رابط کاربری اچاره </h1>
    </head>
    <body>
        <a href="./Query1"><center>1گزارش شماره</a>
        <br>
        <a href="./Query2"><center>2گزارش شماره</a>
        <br>
        <a href="./Query3"><center>3گزارش شماره</a>        
        <br>
        <a href="./Query4"><center>4گزارش شماره</a>
        <br>
        <a href="./Query5"><center>5گزارش شماره</a>
        <br>
        <a href="./Query6"><center>6گزارش شماره</a>
        <br>
        <a href="./Query7"><center>7گزارش شماره</a>
        <br>
        <a href="./Query8"><center>8گزارش شماره</a>
        <br>
        <a href="./Query9"><center>9گزارش شماره</a>
        <br>
        <a href="./Query10"><center>10گزارش شماره</a>
        <br>
    </body>
    
</html>