<html>
    <head>

    </head>
    <body>
        <center>
        <h1>گزارش شماره10</h1>
        <h2>نام و نام خانوادگی مشتری ای که از متخصص به نام مایکل جانی خدمت گرفته است و از متخصص آب و فاضلاب به نام جک ویلیام شکایت کرده است و با پشتیبان به نام سمیرا محمودی صحبت کرده است. </h2>
        <hr/>
        <table border = "1" >  
            <tr>
                <th>نام و نام خانوادگی</th>
            </tr>
            {%for datadisplay in sqlserverconn%}
            <tr>
                <td>{{datadisplay.NameAndFamily}}</td>
            </tr>
            {%endfor%}
        </table>
        <br>
        <a href="./AcharehUI" > بازگشت به عقب</a>
    </body>
</html>